@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<address>
    On a Need To Know Basis<br />
    Somewhereville, USA<br />
    <abbr title="Phone">P:</abbr>
    (555)555-5555
</address>

<address>
    <strong>Send your ideas to:</strong>   <a href="mailto:null">PleaseDontActually@emailthis.com</a><br />
</address>