@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center bg-secondary text-light">
    <h1>What Do I Like to Drink?</h1>
    <p class="lead">Quite a lot apparently.</p>

</div>

<div class="row">
    <div class="col-md-6 order-md-2">
        <h2>Bourbon</h2>
        <p>
            A straight whiskey distilled from a mash having at least 51 percent corn in addition to malt and rye.
        </p>
    </div>
    <div class="col-md-3 order-md-1">
        <h2>Wine</h2>
        <p>An alcoholic drink made from fermented grape juice.</p>
    </div>
    <div class="col-md-3 order-md-3">
        <h2>Beer</h2>
        <p>
            An alcoholic drink made from yeast-fermented malt flavored with hops.
        </p>
    </div>
</div>