@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Michael's Drinks</h1>
    <p class="lead">What Do I Like?</p>
</div>

<div class="row">
    <div class="col-md-6 col-md-push-3">
        <h2>Bourbon</h2>
        <p>
            A straight whiskey distilled from a mash having at least 51 percent corn in addition to malt and rye.
        </p>
    </div>
    <div class="col-md-3 col-md-pull-6">
        <h2>Wine</h2>
        <p>An alcoholic drink made from fermented grape juice.</p>
    </div>
    <div class="col-md-3">
        <h2>Beer</h2>
        <p>
            An alcoholic drink made from yeast-fermented malt flavored with hops.
        </p>
    </div>
</div>